/* NOTE: Add/update the date suffix to this file's filename if you want to ensure
 * folks pull in the most recent version instead of what is in their browser cache.
 * Then modify _templates/page.html to point to the updated files.
 */

/* http://stackoverflow.com/questions/2454577/sphinx-restructuredtext-show-hide-code-snippets*/
.toggle .header {
    display: block;
    clear: both;
}

.toggle .container {
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
    /*background-color: red;*/
    padding-bottom: 24px;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}

/* For http://sphinx-doc.org/config.html#confval-rst_epilog */
.ggfooter p {
    font-size: small;
    font-style: italic;
}
